* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-container{
  display: none;
}

.mobile-device-logo{
  display : none;
}

.container{

    position: relative;
    color: rgb(241, 236, 236); 
    height : 96vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/header-image.jpg);

}



a {
    text-decoration: none;
    font-size: large;
    color: #ccc;
}

ul li {
    margin: 15px;
    display: inline-block;
    list-style-type: none;
}
.navbar{
    color: beige;
 border: 4px solid rgb(14, 13, 13);

}
.logo{
 margin-left: 2rem;
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 5px;
}
 
ul{

    margin-right: 95px;
   
    float : inline-end;

}

.center{
 padding: 1em;
 position: absolute;
 top : 50%;
 left: 50%;
 transform: translate(-50%, -50%);
text-align: center;
}

.center a{
  display: inline-block;
  margin-top: 11px;
    padding:  0.6em;
    border-radius: 60px;
    color : red;
    background-color: #fff;
    
 
}
.center a:hover{
  
  margin-top: 11px;
    cursor : pointer;
    background-color: #ccc;
 
}

.center p{
  margin-top: 7px;
    padding:  0.5em;
   letter-spacing: 0.3mm ;
    
 
}

.showcase{

    background-color: #ddd;
    padding-top: 1rem;
 
 padding-bottom: 1.5em;

}

 /* boxes styling */

.box{

  margin: 4em 11em  ;
  height: 22rem;
  padding-top: 1rem;

}


.image-1{
 float : left ;
height: 100%;
width: 50%;


}
.image-1 img{
   width: 100%;
    height: 100%;

}

.text-1{
    background-color: white;
 float : right ;
 width: 50%;
 height: 100%;
 padding: 2em;
 box-shadow: 1px 6px 14px 0px rgb(95, 94, 94);


 

}
.text-1 p{

 padding-top: 1em;
 font-size: 1.1rem;

}

.image-2{
  float : right ;
height: 100%;
width: 50%;
 

}
.image-2 img{

  display: inline-block;
   width: 100%;
    height: 100%;

}

.text-2{
    
 float : left ;
 width: 50%;
 height: 100%;
 padding: 2em;
 box-shadow: 1px 6px 14px 0px rgb(95, 94, 94);
 background-color: white;
 
 

}
 .link{

    display: inline-block;
     color : red;   
     border: 3px solid red;
     border-radius: 15px;
     padding: 7px;
     margin-top: 13px;
     margin-left: 10px;
    
    }

    .text-2 p{

        padding-top: 1em;
        font-size: large;
       

       }

       /* styling feature section */

.feature{
  height: 50vh;
  width: 100vw;
    background-color:#ffffff;
    
  position: relative;

}

   .feature-wrapper{
   
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   text-align: center;
 
    height: 14rem;
    width: 75%;
    
   }
       
.features{
color: #d3cfcf;
display: inline-block;
width: 33.333333%;
height : 15rem;
/* border: 5px solid rebeccapurple; */
padding: 1.8rem;


}
.features p{
 margin-top: .1em;
 font-size: 1rem;


}

.feature-1{
 background-color: #263238;
 float : left;
 
}


.feature-wrapper::after{
    content: '';
  display: block;
  clear: both;

}

.feature-2{
    
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  

}
.feature-3{
    background-color: #263238;
   
  float: right;  

}

/* footer styling */

.footer{
  
 color : white ;
  background-color:  #263238;
 
  height : 6rem;
  width : 100vw;

 text-align: center;

}


.icons div{

 padding: 12px;
 display :inline-block;
 cursor: pointer; 

 
 
}
.icons div:hover{

  
 padding: 18px;
 display : inline-block;
 cursor: pointer; 

 background-color: rgb(74, 75, 75);
 border-radius: 50%;
 
}

@media ( max-width:900px) {

html{
  font-size: 16px;
}


.text-1 p{
  font-size: 17px;
  padding-top: 5px;
}

.text-2 p{
  font-size: 17px;
  padding-top: 5px;
}


.box-2{
  /* padding-top: 2px; */
  margin: 14em 1.2em  ;
  /* height : 15rem; */
  
}


.box{

  /* margin: 4em 11em  ; */
  height: 19rem;
  /* padding-top: 1rem; */

}
.box-1{
  padding-top: 4em ;
  margin: 4em 1.2em;
  margin-bottom: 17em;
  /* margin-bottom: 300px; */
  /* height : 15rem; */
  height: 22rem;
  
}


.showcase{
  /* border: 5px solid red; */
    margin-bottom: 9rem;
    padding-bottom: 5rem;
  }
 
 .image-2{
  float : none ;
height: 90%;
width: 100%;
  }

.image-1{
  float : none ;
height: 90%;
width: 100%;


}

.showcase-text{
 padding: 1em;
 float: none;
width: 100%;


}

.feature-wrapper{
  /* border: 7px solid #09a1ec; */
  height: 39rem;
  width: 100%;
  margin-top: 3rem;

}
 
 
  .feature-1{
   background-color: #263238;
   float : none;
   width: 100%;
   
  }
 

  .feature-3{
   background-color: #263238;
   float : none;
   width: 100%;
/* height: ; */

  }
  
.features{
  color: #d3cfcf;
  display: inline-block;
  /* height : 9rem; */
  /* border: 5px solid rebeccapurple; */
  height: 33.33333%;
  width: 100%;
  margin-top: 3rem;
  }

  .footer{
  
    margin-top: 23rem;
    color : white ;
     background-color:  #263238;
     
     height : 6rem;
     width : 100vw;
     
    text-align: center;
    
  }
   
  /* styling hamburger for mobile devices  */

  .mobile-device-logo{
     font-size: 1.9rem;
     float: right ;
     margin: 1.2rem;
     margin-right: 2rem;
     display: block;
     color: beige;
     }
  
  .navbar{
    display: none;
  }
  
   

  

ul li{
    display: block;
    list-style-type: none;
    
}
a{
    text-decoration-line: none;
    color : white
}


.navbar-container{
  display: inline-block;
  float: left;
  position: relative;
  margin: 1.1rem;
    /* height: 50px; */
    /* border: 6px solid rgb(7, 46, 238); */
    /* height: 260px; */
}
.hamburger-lines{
/* background-color: aqua; */
position: absolute;
top: 0px;
left : 0px;

}

.hamburger-lines .line{
    display: block;
 height: 4px;
 width : 30px;
 background-color: white;
 /* padding: 1rem; */
 margin-top: 0.3rem;
z-index: -1;

/* position: absolute; */



}


.menu-items li{
padding: 7px;

}
.menu-items{

    position: absolute;
   
    /* display : none ; */
    transform: translateX(-110%);
   transition: all .6s ease-in-out;
  background-color: #0c0d5e7d;
  height: 190px;
  width: 180px;
  border-radius: 16px;

    /* border: 4px solid red; */
    /* position: relative; */
    /* left: 10px; */

}


.navbar-container input{
  cursor: pointer;
    position: absolute;
    width: 30px;  
height : 28px;
z-index: 1;
opacity: 0;
}

.hamburger-lines .line1{
    transform-origin: 0% 0%;
  transition: all 0.6s ease-in-out;
}

.hamburger-lines .line3{
    transform-origin: 0% 100%;
  transition: all 0.6s ease-in-out;


}
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0%);
    
    margin: 45px;
    /* display: block; */
  

}

/* cross ka nisaan banana */

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
   
 background-color: rgb(250, 34, 15);
transform: rotate(45deg); 
}
.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
 /* display: none; */
 opacity: 0;
}
.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
    transform-origin: 0% 100%;
 background-color: rgb(250, 34, 15);
transform: rotate(-45deg); 
}

}